<!--index.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

  <h1 class="text-red-600 text-3xl text-center py-12">Working with Gaterace MService</h1>

  <!-- <div class="grid h-screen place-items-center"> -->
  <div class="flex items-center justify-center pt-12 w-full">
    <div class="w-1/2 bg-white p-6">
      <h2 class="text-red-600 text-2xl py-2">Please Login!</h2>

      <form action="/login" method="post">
            <div class="mb-6">
                <label for="account" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Account Name</label>
                <input type="text" name="AccountName" id="account" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Account Name" required>
            </div> 
            <div class="mb-6">
                <label for="email" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Email address</label>
                <input type="email" name="Email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" required>
            </div> 
            <div class="mb-6">
                <label for="password" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Password</label>
                <input type="password" name="Password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Your password" required>
            </div> 

            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Login</button>
        </form>    


      <!-- <p class="text-xl py-2">
        I'm just an old guy trying to keep my brain functioning by learning new stuff that I find interesting.
      </p> -->

    </div>
  </div>


<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}