{{ template "toast.html" .}}

<form  
hx-post="/msvc/change_my_password"
hx-trigger="submit"
hx-target="#edit_form">

<div class="grid grid-cols-2 gap-2">  
    <div class="mb-2">
        <label for="ID" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">User ID</label> 
        <input type="text" name="UserId" id="ID" value="{{.user.AccountUser.UserId}}" class="bg-gray-100 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly>
    </div>
    <input type="hidden" name="Version" id="version" value="{{.user.AccountUser.Version}}">

    <div class="mb-6">
        <label for="full_name" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">User Full Name</label>
        <input type="text" name="UserFullName" id="long_name" value="{{ .user.AccountUser.UserFullName }}" class="bg-gray-100 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            readonly>
    </div> 
    <div class="mb-6">
        <label for="passwordOld" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Old Password</label>
        <input type="text" name="PasswordOld" id="passwordOld" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="your old password" required>
    </div> 
    <div class="mb-6">
        <label for="passwordEnc" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">New Password</label>
        <input type="text" name="PasswordEnc" id="passwordEnc" value="" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="new password" required>
    </div> 
</div> 



<div class="container py-3 mx-0 min-w-full flex flex-col items-center">
    <div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            {{ if or (eq (index .claims "acctmgt") "super") (eq (index .claims "acctmgt") "admin") (eq (index .claims "acctmgt") "acctrw") (eq (index .claims "acctmgt") "userrw") }} 
            >Save
            {{ else }}
            disabled="true">Read Only                        
            {{ end }}
            </button>
   </div>
</div>

</form>
