{{ template "toast.html" .}}

<form  
hx-post="/updt_user?me=true"
hx-trigger="submit"
hx-target="#edit_form">

<div class="grid grid-cols-2 gap-2">  
    <div class="mb-2">
        <label for="ID" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">User ID</label> 
        <input type="text" name="UserId" id="ID" value="{{.user.AccountUser.UserId}}" class="bg-gray-100 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" readonly>
    </div>
    <input type="hidden" name="Version" id="version" value="{{.user.AccountUser.Version}}">
    <input type="hidden" name="AccountId" id="version" value="{{.user.AccountUser.AccountId}}">
    <div class="mb-2">
        <label for="type" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">User Type</label>
        <input type="number" name="UserType" min="1" max="99" id="type" value="{{ .user.AccountUser.UserType}}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="User Type" required>
    </div> 
    <div class="mb-6">
        <label for="full_name" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">User Full Name</label>
        <input type="text" name="UserFullName" id="long_name" value="{{ .user.AccountUser.UserFullName }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="User Full Name" required>
    </div> 
    <div class="mb-6">
        <label for="email" class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Email address</label>
        <input type="email" name="Email" id="email" value="{{ .user.AccountUser.Email  }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
            placeholder="john.doe@company.com" required>
    </div> 
</div> 



<div class="container py-3 mx-0 min-w-full flex flex-col items-center">
    <div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            {{ if or (eq (index .claims "acctmgt") "super") (eq (index .claims "acctmgt") "admin") (eq (index .claims "acctmgt") "acctrw") (eq (index .claims "acctmgt") "userrw") }} 
            >Save
            {{ else }}
            disabled="true">Read Only                        
            {{ end }}
            </button>
   </div>
</div>

</form>
<div class="mb-2">
<label class="block mb-2 text-base font-medium text-gray-900 dark:text-white">Assigned Roles [ Claims ]</label>
<div class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
{{range .user.AccountUser.AccountRoles }}
    <p>{{.RoleName}}:
        {{ range .ClaimValues }} [ {{.Claim.ClaimName}}: {{.ClaimVal}} ] {{end}}
    </p>
{{ end }}
</div>
</div> 
