<!--user_list.html-->
<div id="user_list">

    <div class="w-full pt-0 overflow-x-auto relative shadow-md sm:rounded-lg">

        <table class="w-full text-base text-left text-gray-500 dark:text-gray-400">
            <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr class="border-b-2 border-red-400">                    
                    <td colspan="3" class="py-4 px-6"><h2 class="text-red-600 text-2xl py-2">User List</h3></td>
                    
                    <td class="py-4 px-6">
                    <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        hx-get="/msvc/user/new?acctid={{ .working_account_id }}"
                        hx-trigger="click"
                        hx-target="#user_list">New User</button>    
                    </td>
                </tr>
                <tr>
                    <th scope="col" class="py-3 px-6">
                        ID
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Email
                    </th>
                    <th scope="col" class="py-3 px-6">
                       User Full Name
                    </th>
                   <th scope="col" class="py-3 px-6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {{range .users.AccountUsers }}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6">
                        {{ .UserId }}
                    </th>
                    <td class="py-4 px-6">
                        {{ .Email }}
                    </td>
                    <td class="py-4 px-6">
                        {{ .UserFullName }}
                    </td>
                    <td class="py-4 px-6">
                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        hx-get="/msvc/user/{{.UserId}}"
                        hx-push-url="true"
                        hx-trigger="click"
                        hx-target="#action_content"><img src="/public/images/icons8-pencil-24.png" alt="edit"></button>   
                        
                        {{ if or (eq (index $.claims "acctmgt") "super") (eq (index $.claims "acctmgt") "admin")}}
                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        hx-get="/msvc/user/{{.UserId}}/role_assignment"
                        hx-trigger="click"
                        hx-target="#action_content"><img src="/public/images/icons8-user-rights-50.png" alt="user roles" width="24" height="24"></button>

                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        hx-get="/msvc/user/{{.UserId}}/password_reset"
                        hx-push-url="true"
                        hx-trigger="click"
                        hx-target="#action_content"><img src="/public/images/icons8-reset-password-66.png" alt="reset password" width="24" height="24"></button>   
                        
                        <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-1.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                        hx-confirm="Are you sure you wish to delete this user?"
                        hx-post="/delete_user/{{.UserId}}/{{.Version}}"
                        hx-trigger="click"
                        hx-target="#action_content"><img src="/public/images/icons8-delete-trash-24.png" alt="delete"></button>
                        {{ end }}       
                    </td>
                </tr>
                {{end}}

            </tbody>
        </table>
    </div>

</div>
